
.social_profiles_wrap {
	position: relative;
	display: block;
	width: 100%;
	float: left;
}

.social_profiles_wrap .social-profile {
	position: relative;
	display: block;
	width: 100%;
	float: left;
	margin: 0 0 15px 0;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}
.social_profiles_wrap .social-profile input {
	margin-bottom: 5px;
}
.social_profiles_wrap .field-title {
	background: #FFF;
	margin-bottom: 1em;
	padding: 8px 11px;
}
.social_profiles_wrap .field-title h3 {
	position: relative;
	display: inline-block;
	margin: 0 5px;
}
.social_profiles_wrap .profile-move,
.social_profiles_wrap .profile-remove {
	display: inline-block;
	margin: 0;
}
.social_profiles_wrap .profile-move {
	cursor: grab;
	float:left;
}
.social_profiles_wrap .profile-move:active {
	cursor: grabbing;
}
.social_profiles_wrap .profile-remove {
	color: #BE1008;
	float: right;
	cursor: pointer;
}
.social_profiles_wrap .profile-remove:hover {
	color: #BE1008;
}
.social_profiles_wrap .profile-remove:active {
	color: #981008;
}

#customize-control-display_header_text {
	display: none;
}
