/* =============================================================================
   Classic meta widgets css
   ========================================================================== */
.widget_meta{
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		&:not(:last-child) {
			margin-bottom: var(--springoo-10);
		}
	}

	a {
		color: var(--springoo-color-global);
		font-size: var(--springoo-global-font-size);

		&:hover {
			color: var(--springoo-color-secondary);
		}
	}

}
