.elementor {
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
	p {
		margin: 0;
	}
}
.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
	padding: 0;
}

$sizes: 1,2,3,4,5,6;
@each $size in $sizes {
	h#{$size}.elementor-heading-title {
		font-family: var(--springoo-h#{$size}-font-family, var(--springoo-heading-font-family));
		font-weight: var(--springoo-h#{$size}-font-weight, var(--springoo-heading-font-weight));
		font-style: var(--springoo-h#{$size}-font-style, var(--springoo-heading-font-style));
		font-size: var(--springoo-h#{$size}-font-size);
		line-height: var(--springoo-h#{$size}-line-height, var(--springoo-heading-line-height));
		text-transform: var(--springoo-h#{$size}-text-decoration, var(--springoo-global-text-transform));
		letter-spacing: var(--springoo-h#{$size}-letter-spacing, var(--springoo-global-letter-spacing));
		word-spacing: var(--springoo-h#{$size}-word-spacing, var(--springoo-global-word-spacing));
	}
}

.springoo-embed-play {
	.elementor-custom-embed-play {
		width: 120px;
		height: 120px;
		border: 2px solid var(--e-global-color-springoo_ac);
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		backdrop-filter: blur(10px);
	}
}
