// WooCommerce Filter Widgets
.wc-block-components-checkbox {
	.wc-block-components-checkbox {
		&__input[type=checkbox] {
			width: 1.125rem;
			height: 1.124rem;
			min-width: 1.125rem;
			min-height: 1.125rem;
			border: 1px solid var(--springoo-color-border);
			margin: 0 var( --springoo-10 ) 0 0;
			border-radius: 0.313rem;
		}
		&__input[type=checkbox]:focus {
			outline: 1px dotted var(--springoo-color-heading);
		}
		&__input[type=checkbox]:checked {
			border-color: var(--springoo-color-border);
		}
		&__input[type=checkbox]:checked:after,
		&__input[type=checkbox]:checked:before {
			content: "";
			width: 1.125rem;
			height: 1.125rem;
			position: absolute;
			border-radius: 5px;
			background-color: var(--springoo-color-heading);
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 7.00028L5.97487 9.47516L10.9244 4.52539' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			border-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			top: 0;
			left: 0;
		}
		&__label {
			line-height: 1.125rem;
			font-size: var( --springoo-small-font-size );
			color: var( --springoo-color-heading );
		}
		&__mark {
			display: none;
		}
	}
}

// WooCommerce Filter Widgets rating css
.wp-block-woocommerce-rating-filter {
	.wc-block-components-product-rating__stars {
		span {
			color: #FFAE00;
		}
	}
	.wc-block-components-product-rating {
		display: flex;
		align-items: center;
	}
}

// WooCommerce Widgets product title css
.wc-block-grid__product {
	.wc-block-grid__product-image:not(.wc-block-components-product-image),
	.wc-block-grid__product-title {
		color: var(--springoo-color-heading);
		font-weight: var(--springoo-global-font-weight);

		&:hover {
			color: var(--springoo-color-secondary);
		}
	}
}
