[hidden], .hidden,
.js .closed .inside,
.js .hide-if-js,
.js .wp-core-ui .hide-if-js,
.js.wp-core-ui .hide-if-js,
.no-js .hide-if-no-js,
.no-js .wp-core-ui .hide-if-no-js,
.no-js.wp-core-ui .hide-if-no-js {
	display: none;
}

.customize-control{
	input[type="range"] {
		width: 75%;
		float: left;

		+ input[type="text"] {
			float: right;
			width: 22%;
			color: #333;
		}
	}
}
.customize-control-title {
	font-weight: 300;
	margin-top: 10px;
}

.section-title {
  margin: 1em 0 0;
  font-size: 20px;
}
.springoo-plus-message {
  margin: 2em;
  padding: 5px 10px;
  border: 1px solid var(--springoo-color-border);
  border-left: 4px solid #dd3d36;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.springoo-plus {
  background: #009fe3;
  display: inline-block;
  padding: 2px 4px;
  margin: 0 5px 0 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 11px;
}

//Springoo Info
.info-container {
  background-color: #fff;
  margin-right: 20px;
  padding: 60px 30px 90px;
  margin-top: 20px;
  border: 1px solid var(--springoo-color-border);
  text-align: center;
	&::before,
    &::after {
		content: '';
		clear: both;
		display: table;
	}
	.info-title {
		margin: 0 0 45px;
		text-transform: uppercase;
	}
	.info-icon {
		font-size: 34px;
		width: auto;
		height: auto;
	}

	.info-text {
		text-transform: uppercase;
	}

	.info-block a {
		color: #444;
		text-decoration: none;
		&:hover {
			color: #00b9eb;
		}
	}

	.info-block {
		float: left;
		width: 45%;
		border: 1px solid #eaeaea;
		padding: 25px 15px 15px;
		margin: 1%;
		background-color: #f7f7f7;
	}
}

//Themify icon support
[class*=" ti-"],
[class^=ti-],
.ti,
.fa.ti {
	//noinspection CssNoGenericFontName
	font-family: 'themify' !important;
}
