/*---------------------------------------------------------
404 Page CSS
-------------------------------------------------------- */
.error404 {

  .springoo-row {
    padding: 15px 0;
  }

  .error-page-img {
    max-width: 100%;
    margin: 0 auto var(--springoo-40);
    text-align: center;

    img {
      max-width: 100%;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .error-404 {
    text-align: center;

    .page-title {
      color: var(--springoo-color-heading);
      font-weight: var(--springoo-600-font-weight);
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px;
    }

    .page-content {
      margin: 0 auto 20px;
      max-width: 34.063rem;
    }
  }

  .separator {
    margin: var(--springoo-30) auto;
    height: 1px;
    width: 100%;
    background-color: var(--springoo-color-border);
  }

  .error-btn {
    background: linear-gradient(90deg, var(--springoo-color-primary) 0%, var(--springoo-color-secondary) 100%);
    color: #fff;
    border: none;
    border-radius: 12px;
    font-weight: var(--springoo-500-font-weight);
    padding: 11px 22px;
    line-height: 26px;
    font-size: var(--springoo-font-size-base);
  }
}

/*---------------------------------------------------------
404 Page Responsive
-------------------------------------------------------- */
